USE [QLHS]
GO
/****** Object:  Table [dbo].[CLASS]    Script Date: 5/14/2021 1:32:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASS](
	[CLASS_ID] [int] NOT NULL,
	[CLASS_NAME] [varchar](10) NULL,
	[MAX_RATIO] [int] NOT NULL,
 CONSTRAINT [PK_CLASS] PRIMARY KEY CLUSTERED 
(
	[CLASS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONFIG]    Script Date: 5/14/2021 1:32:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONFIG](
	[CONFIG_ID] [int] NOT NULL,
	[MIN_AGE] [int] NULL,
	[MAX_AGE] [int] NULL,
	[SUBJECT_POINT_STANDARDS] [float] NULL,
 CONSTRAINT [PK_CONFIG] PRIMARY KEY CLUSTERED 
(
	[CONFIG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[POINT]    Script Date: 5/14/2021 1:32:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POINT](
	[POINT_ID] [int] NOT NULL,
	[STUDENT_ID] [int] NOT NULL,
	[SUBJECT_ID] [int] NOT NULL,
	[POINT_15] [float] NULL,
	[POINT_45] [float] NULL,
	[POINT_CK] [float] NULL,
	[AVG] [float] NULL,
	[SEMESTER] [int] NOT NULL,
 CONSTRAINT [PK_POINT] PRIMARY KEY CLUSTERED 
(
	[POINT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT]    Script Date: 5/14/2021 1:32:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT](
	[STUDENT_ID] [int] NOT NULL,
	[CLASS_ID] [int] NULL,
	[FULLNAME] [nvarchar](10) NULL,
	[MSSV] [varchar](10) NULL,
	[GENDER] [nvarchar](5) NULL,
	[BIRTHDAY] [date] NULL,
	[ADDRESS] [nvarchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[AVG_S1] [float] NULL,
	[AVG_S2] [float] NULL,
 CONSTRAINT [PK_STUDENT] PRIMARY KEY CLUSTERED 
(
	[STUDENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBJECT]    Script Date: 5/14/2021 1:32:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBJECT](
	[SUBJECT_ID] [int] NOT NULL,
	[SUBJECT_NAME] [nvarchar](50) NULL,
	[SUBJECT_DESCRIPTION] [nvarchar](50) NULL,
 CONSTRAINT [PK_SUBJECT] PRIMARY KEY CLUSTERED 
(
	[SUBJECT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CONFIG] ADD  DEFAULT ((0)) FOR [SUBJECT_POINT_STANDARDS]
GO
ALTER TABLE [dbo].[STUDENT] ADD  DEFAULT ((0)) FOR [AVG_S1]
GO
ALTER TABLE [dbo].[STUDENT] ADD  DEFAULT ((0)) FOR [AVG_S2]
GO
